<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Help Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt name}}</p> <!--Ez a screamIt helperfunctiont használja, a második az az átadni kívánt paraméter!-->

       {{> footer}} <!-- footer.hbs beimportálása-->
    </body>

</html>
